# Entornos virtuales y Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Base de datos local y particiones de usuarios
data/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# IDEs (VS Code / PyCharm)
.vscode/
.idea/
